
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> nvko/environment ###
/.idea/
###< nvko/environment ###

###> symfony/phpunit-bridge ###
/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/tools/PHP_CodeSniffer/vendor/
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
