{% extends '_docs/base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block page %}
    <div class="z-50 hidden bg-alabaster lg:flex md:flex-col md:fixed md:inset-y-0 lg:w-[435px]">
        <div class="flex flex-col flex-1 min-h-0 border-r border-smoke">
            <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto lg:px-6">
                {% for key, array in data %}
                    {% if key is same as('@attributes') %}
                        {% if array.name is defined %}
                            <div class="flex items-center flex-shrink-0 text-comet">
                                <a href="{{ path('app_documentation_read') }}">
                                    <span class="inline-flex items-center font-bold tracking-tighter lg:text-2xl">
                                        {{ array.name }}
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    {% elseif key is same as('file') %}
                        <nav class="flex-1 mt-12">
                            <div class="border-l">
                                <p class="text-comet text-sm font-semibold uppercase ml-6 lg:text-[15px]">
                                    Files
                                </p>
                                <div class="mt-3">
                                    {% for file in array %}
                                        {% if file['@attributes'] is defined %}
                                            {% set name = file['@attributes'].path %}
                                            {% set hash = file['@attributes'].hash %}

                                            {% include '_docs/_components/_link.html.twig' with {
                                                name: name,
                                                path: path('app_documentation_read', {'hash': hash}),
                                                classes: 'hover:bg-white text-oyster hover:text-river group flex items-center p-2 pl-6 text-base font-light border-l border-transparent',
                                                is_active: app.request.get('hash') is same as(hash)
                                            } %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </nav>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if file is not null %}
        <div class="relative z-0 flex flex-1 overflow-hidden">
            <div class="relative z-0 flex-1 overflow-y-auto focus:outline-none lg:pl-[435px]">
                <div class="flex-1 mx-auto">
                    <section class="mx-auto border-b border-periblue">
                        <div class="px-4 mx-auto max-w-7xl sm:px-6">
                            <h1 class="pt-8 mx-auto text-2xl leading-none tracking-tighter text-comet lg:text-3xl"
                                style="opacity: 1; transform: translateY(0px);">
                                {{ file.name }}
                            </h1>
                            <p class="pt-2 pb-8">{{ file.path }}</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
